.footer-container
{
    display: flex;
    justify-content: center;
    background:#1d2020;
    margin: 0;
    z-index: 99;
}

.footer-link {
    font-size: 26px;
    color: #e7e6e7; 
    margin: 10px;
    text-align: center;
    text-decoration: none   ;
}